


#navbuttons {
    font-size: 14px;
    font-weight: bold;
    }
    
    
    .navbar {
    float: center; 
    overflow: hidden; 
    background-color: rgb(223, 247, 193); 
    }

    .navtext  {
    
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .navbar a {
    float: center; 
    display: inline-block; 
    color: rgb(0, 0, 0); 
    text-align: center; 
    padding: 9px; 
    text-decoration: none; 
    }

    .responsive {
    width: 100%;
    height: auto;
    }
    
    .header {
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center; 
    background: #ffffff; 
    color: rgb(0, 0, 0); 
    }
    

    .header img {
    display: inline-block;
    float: left;
    width: 55px;
    height: 70px;
    background:rgb(255, 255, 255);
    padding-right: 0px;
    }
    
    .header h1 {
    position: center;
    top: 0px;
    left: 0px;
    bottom: 0px;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .header h2 {
        position: center;
        top: 0px;
        left: 0px;
        bottom: 0px;
        font-size: 14px;
        padding-left: 0px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     }
    
    
    br {
    line-height: 150%;
    }
    
    * {
    box-sizing: border-box;
    }
    
    .row {
    display: flex;
    flex-wrap: wrap;
    scroll-behavior: auto;
    overflow: auto;
    height: 100%;
    }
    
    
    .main {
    flex: 100%; 
    background-color: white; 
    padding: 35px; 
    overflow: auto;
    height: 100%;
    scroll-behavior: auto;
    line-height: 120%;
    text-align: left;
    }
    
    .main h2 {
    position: left;
    top: 0px;
    left: 0px;
    bottom: 0px;
    font-size: 28px;
    line-height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(143, 184, 93)
    }
    
    
    body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    scroll-behavior: auto;
    padding-bottom: 250px;
    margin: 0px;
    }
    
    /* GALLERY STARTS */
    #imagelist {         
    font-size: 0;
    width: auto;
    flex-wrap: auto;
    margin: 0 auto;
    float: left;
    }
    
    #imagelist a {
    margin: 2px;
    border: 7px solid transparent;
    display: inline-block;
    border-radius: 10px;
    opacity: .8;
    }
    
    #imagelist a:hover {
    border-color: rgb(223, 247, 193); 
    opacity: 1;
    }
    
    #imagelist img {
    border-radius: 6px;
    }
    /* GALLERY ENDS */
    


   





    .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    position: fixed;
    padding-left: 10px;
    padding-top: 0px;
    text-align: left; 
    background-color: rgb(223, 247, 193);        
    }
    
    .footer h2 {
    position: left;
    top: 0px;
    left: 0px;
    bottom: 0px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    }

        
    
    h3
    {
        position: left;
        top: 0px;
        left: 0px;
        bottom: 0px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        }

    

    
    .footerleft {
    float:left;
    flex: 40%; 
    padding: 5px; 
    overflow: auto;
    height: 100%;
    scroll-behavior: auto;
    }
    
    .footerright {
    float: right;
    flex: 40%; 
    padding: 5px; 
    overflow: auto;
    height: 100%;
    scroll-behavior: auto;
    }
    
    .footerright img {
    float: right;
    width: 120px;
    height: 70px;
    padding-right: 12px;
    padding-top: 5px;
    }
    
    
    ttext  {
    position: left;
    top: 0px;
    left: 0px;
    bottom: 0px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    ttextcol  {
    position: left;
    top: 0px;
    left: 0px;
    bottom: 0px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(143, 184, 93)
    }
    
    .main btext  {
    position: left;
    top: 0px;
    left: 0px;
    bottom: 0px;
    font-size: 16px;
    line-height: 150%;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    smalltext  {
    position: left;
    top: 0px;
    left: 0px;
    bottom: 0px;
    font-size: 1px;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    .wrapper {

        margin: 0 auto;
        width: 300px;
      }


    .img-banner-small {
        width: 640px;
        height: 480px;
        background-image: url(img/Banner-small.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center left; 

    } 

    .img-banner-large {
        width: 300px;
        height: 100px;
        background-image: url(img/Banner-large.jpg);
        background-size: 150%;
        background-repeat: no-repeat;
        background-position: center bottom; 

    } 

    .img-vision {
        width: 300px;
        height: 200px;
        background-image: url(img/Vision.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center; 

    } 

    .BRH-Phases {
        width: 256;
        height: 192;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center left; 

    } 
   

    .Bamboo-Development-Model {
        width: 300;
        height: 425;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center left; 

    } 
   

    .Concept-Render {
        width: 300;
        height: 300;
        background-image: url(img/Concept-Render.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center left; 

    } 
   
    .Archi-Banner {
        width: 300;
        height: 169;
        background-image: url(img/Archi-Banner.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center left; 

    } 
   
    .Forest-Management {
        width: 300;
        height: 169;
        background-image: url(img/Forest-Management.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center left; 

    }   

    .Rod-Puncture {
        width: 300;
        height: 225;
        background-image: url(img/Rod-Puncture.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center left; 

    }   
   

    .Bamboo-Seedling {
        width: 300;
        height: 225;
        background-image: url(img/Bamboo-Seedling.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center left; 

    }   





    @media only screen and (min-width: 1024px) {
           
   
        .wrapper {

        margin: 0 auto;
        width: 1000px;

        }

  
        .BRH-Phases {
            width: 1024px;
            height: 768px;
            background-image: url(img/Banner-small.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center left; 
    
        } 

        .img-banner-large {
            width: 1144;
            height: 300;
            background-image: url(img/Banner-large.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center; 
    
        } 

        .img-vision {
            width: 900px;
            height: 752px;
            background-image: url(img/Vision.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center; 
    
        } 


        .Bamboo-Development-Model {
            width: 800;
            height: 1132;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center left; 
    
        } 



        .Archi-Banner {
            width: 600;
            height: 338;
            background-image: url(img/Archi-Banner.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center left; 
    
        } 

        .Forest-Management {
            width: 600;
            height: 338;
            background-image: url(img/Forest-Management.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center left; 
    
        }   

        .Rod-Puncture {
            width: 600;
            height: 450;
            background-image: url(img/Rod-Puncture.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center left; 
    
        }   


        .Bamboo-Seedling {
            width: 600;
            height: 450;
            background-image: url(img/Bamboo-Seedling.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center left; 
    
        }   
    




            .header h1 {
        position: relative;
        top: 0px;
        left: 0px;
        bottom: 0px;
        font-size: 42px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

            
        .header h2 {
            position: relative;
            top: 0px;
            left: 0px;
            bottom: 0px;
            font-size: 18px;
            padding-left: 50px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        


        .main { 
        padding: 25%;
        flex-wrap: wrap;
        padding-top: 35px;
        }
        
        .navbar a {
        padding-left: 3%;
        }       
        
        #navbuttons {
            position: center;
            left: 400px;
            font-size: 18px;
            font-weight: bold;
            }

        .responsive { 
        width: 100%;
        max-width: auto;
        height: auto;
        padding: 700px;
        padding-top: 10px;
        
        }
        
        .header img {
        
            float: center;
            padding-inline-start: 0px;
            width: 80px;
            height: 100px;
            background:rgb(255, 255, 255); 

        }
        
        .main h2 {
            font-size: 38px;
        }
        


    }